<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Person List</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Age</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="person : ${people}">

        <td><input type="text" name="name" th:value="${person.name}"/></td>
        <td><input type="text" name="age" th:value="${person.age}"/></td>
        <td>
            <a th:href="@{'/person/single/' + ${person.id}}">Details path variable</a>
        </td>
        <td>
            <a th:href="@{/person/details(id=${person.id})}">Details request parameter</a>
            <!-- http://www.thymeleaf.org/doc/articles/standardurlsyntax.html -->
        </td>
    </tr>
    </tbody>
</table>


</body>
</html>